footer {
    border-radius: 10%;
}

footer, .pie {
    background-color: black;
    padding-left: 1%;
    padding-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.pie {
    padding: 50px 0;
    color: white;
    background-color: black;
}

.pie h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.columna {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 40px;
    text-align: center;
}

.pie ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.pie ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.pie ul a:hover {
    opacity: 0.8;
}
  
@media (max-width:767px) {
    .pie .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.pie .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .pie .item.text {
        margin-bottom: 0;
    }
}

.pie .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.pie .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .pie .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.pie .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.pie .item.social>a:hover {
    opacity: 0.9;
}

.pie .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}