/****** HEADER *************************************************************************************************************/
header,
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid black;
  z-index: 999;
}

.logo {
  margin-top: 25px;
}

body {
  padding-bottom: 250px;
}

nav .header {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #C0EEF2;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .contenido {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .contenido .fila {
    width: calc(25% - 30px);
    line-height: 45px;
}

.contenido .fila img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido .fila .categorias {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.fila .categorias li {
    padding: 0 20px;
}

.fila .categorias li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.fila .categorias li a:hover {
    color: black;
    font-weight: bolder;
}

.header .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.header .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .header .btn {
        display: block;
    }

    .header .nav-links {
        position: fixed;
        height: 100vh;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #537FE7;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    #showMega2:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .tipo {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .contenido {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .contenido .fila {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .contenido .fila:nth-child(1),
    .mega-box .contenido .fila:nth-child(2) {
        border-top: 0px;
    }

    .contenido .fila .categorias {
        border-left: 0px;
        padding-left: 15px;
    }

    .fila .categorias li {
        margin: 0;
    }

    .contenido .fila header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

/****** FOOTER *************************************************************************************************************/
html {
  min-height: 100%;
  position: relative;
}

.pie {
  background-color: black;
  padding-left: 1%;
  padding-top: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}

.pie {
  padding: 50px 0;
  color: white;
  background-color: black;
}

.pie h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
}

.columna {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 20%;
  margin-bottom: 40px;
  text-align: center;
}

.pie ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.pie ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.pie ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .pie .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.pie .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .pie .item.text {
    margin-bottom: 0;
  }
}

.pie .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.pie .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .pie .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.pie .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.pie .item.social>a:hover {
  opacity: 0.9;
}

.pie .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.7;
  font-size: 13px;
  margin-bottom: 0;
  color: white;
}

.linkAdminLogin {
  text-decoration: none;
  color: white;
}

/* LOGIN ADMIN */
.background_admin_login {
  background-image: url('views/img/fondo_inicio.png');
  background-size: cover;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px black solid;
  font-size: 14px;
}

.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .button:hover,
.form .button:active,
.form .button:focus {
  background: black;
  opacity: 0.5;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: black;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FIN LOGIN ADMIN */

/* GRID PANEL ADMIN */

.admin-panel-title {
  display: inline-block;
  font-size: 30px;
  color: #537FE7;
}

.admin-panel-add-link {
  background-color: #537FE7;
  color: black;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}

.admin-panel-add-link:hover {
  color: #537FE7;
  background-color: #1F1F1F;
  border-radius: 5px;
}

.image_edit_icon {
  height: 30px;
  width: 30px;

}

.blue-line {
  width: 100%;
  height: 3px;
  background-color: #537FE7;
  margin-top: 10px;
}

.admin-panel-page-table {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}

.admin-panel-page-table th {
  color: black;
  border-bottom: 2px solid #537FE7;
  padding: 2rem 2rem 0.75rem 1rem;
  margin-left: 10%;
}

.admin-panel-page-table tr:nth-child(odd) {
  color: #1F1F1F;
}

.admin-panel-page-table tr:nth-child(even) {
  color: gray;
}

.admin-panel-content-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  padding-bottom: 80px;

}

/* imagenes editar */
.imagenes{
  width: fit-content; /* El ancho será igual al de su contenido */
  height: fit-content;
}

.editContanier{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.admin-panel-title-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 50px;
  float: right;
}

.admin-menu-bar {
  float: left;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 15%;
  margin-top: 10%;
}

.admin-menu-bar-item {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  color: #537FE7;
}

.text {
  padding: 0rem 1rem 0rem 1rem;
  text-align: center;
  height: 60px;
  max-width: 100px;
}

.admin-menu-bar-item:visited {

  color: #537FE7;
}

.admin-menu-bar-item:hover {
  color: #537FE7;
  background-color: #1F1F1F;
  text-decoration: none;
}
/* FIN PANEL ADMIN */

/* FORMULARIOS AÑADIR  */

.admin-panel-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin:30px 100px 100px 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  width: 22%;
}

.h2-form {
  padding-bottom: 10px;
  color: #537FE7;
}

.admin-panel-submit-link {
  background-color: #537FE7;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px;
  margin-right: 5%;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

.admin-panel-submit-link:hover {
  background-color: #1F1F1F;
  color: #537FE7;
}

/* SLIDER AUTOMATICO */

.slider{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.slider img{ max-width: 100%; }
.slideshow{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 2500ms;
  animation-name: autoplay;
  animation-duration: 25s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.item-slide{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
}
.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pag-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #CCC;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 800ms;
}
.pag-item:hover{ transform: scale(2); }
.pag-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}
.pag-item:hover img{
  opacity: 1;
}
input[id="1"]:checked ~ .slideshow{
  animation: none;
  transform: translate3d(cal(-100% * 0),0,0);
}
input[id="1"]:checked ~ .pagination .pag-item[for="1"]{
  background: #FFF;
}
input[id="2"]:checked ~ .slideshow{
  animation: none;
  transform: translate3d(calc(-100% * 1),0,0);
}
input[id="2"]:checked ~ .pagination .pag-item[for="2"]{
  background: #FFF;
}
input[id="3"]:checked ~ .slideshow{
  animation: none;
  transform: translate3d(calc(-100% * 2),0,0);
}
input[id="3"]:checked ~ .pagination .pag-item[for="3"]{
  background: #FFF;
}
input[id="4"]:checked ~ .slideshow{
  animation: none;
  transform: translate3d(calc(-100% * 3),0,0);
}
input[id="4"]:checked ~ .pagination .pag-item[for="4"]{
  background: #FFF;
}
input[id="5"]:checked ~ .slideshow{
  animation: none;
  transform: translate3d(calc(-100% * 4),0,0);
}
input[id="5"]:checked ~ .pagination .pag-item[for="5"]{
  background: #FFF;
}
@keyframes autoplay{
  20%{ transform: translate3d(calc(-100% * 0), 0, 0); }
  40%{ transform: translate3d(calc(-100% * 1), 0, 0); }
  60%{ transform: translate3d(calc(-100% * 2), 0, 0); }
  80%{ transform: translate3d(calc(-100% * 3), 0, 0); }
  100%{ transform: translate3d(calc(-100% * 4), 0, 0); }
}

/* FIN SLIDER */

/* BUSCADOR */

#Cbuscar {
  border: 0;
  font-size: 14px;
  padding: 10px;
  outline: 0;
}

.formCat {
  font-family: "Roboto", sans-serif;
  width: 200px; 
  margin: 0 0 15px;
  border-bottom: 2px #537FE7 solid;
  font-size: 14px;
}

/* FIN BUSCADOR */

/* LISTA MENU TITULO */

.tituloMenu {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.tituloMenu > li {
	display: inline-block;
}

.derecha {
  float: right;
  margin-left: 30px;
}

/* FIN LISTA MENU TITULO */

/*Cubos categorias*/

.cubosCategorias{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  
}


.categoriaCubo{
  width: fit-content; /* El ancho será igual al de su contenido */
  height: fit-content;
  padding: 1px;
  width: 900px;
  height: 600px;
  background-color: rgb(145, 145, 221);
  border: 1px solid;
}

.rowCubos{
  display: flex;
  flex-direction: row;
}
/*cubos productos*/

.rowCubosP{
  display: flex;
  flex-direction: row;

  width: 85%;
}

.cuboP{
  background-color: rebeccapurple;
  margin: 5px;
  height: 300px;
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.letraP{
  font-weight: bold;
}

/* GRID SEXO HOMBRE Y MUJER */
.menu_sexos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  
  }
  
  .div1_sexos { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: #537FE7;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  .div2_sexos { 
    grid-area: 1 / 2 / 2 / 3;
    background-color: #242526;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

  }