<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>estilo</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="pie">
        <footer>
            <div class="columna">
                <div class="item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Politica de Privacidad</a></li>
                        <li><a href="#">Cupones de Regalo</a></li>
                        <li><a href="#">Devoluciones</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>Empresa</h3>
                    <ul>
                        <li><a href="#">Empresa</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="item social">
                <a href="#"><img src="views/img/facebook.png" alt="Facebook" width="20" height="20"></a>
                <a href="#"><img src="views/img/instagram.png" alt="Instagram" width="20" height="20"></a>
                <a href="#"><img src="views/img/twitter.png" alt="Twitter" width="20" height="20"></a>
                <a href="#"><img src="views/img/pintrest.png" alt="Pintrest" width="20" height="20"></a>
            </div>
            <p class="copyright">© 2023 SRG Todos los derechos reservados</p>

        </footer>
    </div>
</body>

</html>