<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signature Pad</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <canvas id="signatureCanvas" width="400" height="200" style="border:1px solid #000;"></canvas>
    <button onclick="startDrawing()">Dibujar</button>
    <button onclick="startErasing()">Borrar</button>
    <button onclick="saveSignature()">Guardar Firma</button>

    <script src="./././scriptDibujar.js"></script>
</body>
</html>
