<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Productos Más Vendidos</title>
    <style>
        canvas {
            border: 1px solid #ccc;
            background-color: white;
            margin-bottom: 20px;
        }
    </style>
    <script src="./././jsGraficas/grafico.js" defer></script>
    <script src="./././jsGraficas/graficoMujer.js" defer></script> <!-- Agregado el nuevo script para el segundo canvas -->
</head>
<body>
    <div class='admin-panel-content-container'>
        <div class='admin-panel-title-container'>
            <ul class='tituloMenu'>
                <li><h1 class='admin-panel-title'>Estadísticas de productos más vendidos</h1></li>
            </ul>
            <div class='blue-line'></div>
        </div>

        <div class='graficos-container'>
            <div class='grafico'>
                <h2>Para Hombre</h2>
                <canvas id="graficoProductos" class="grafica" width="500" height="300"></canvas>
            </div>

            <div class='grafico'>
                <h2>Para Mujer</h2>
                <canvas id="graficoProductosMujer" class="grafica" width="500" height="300"></canvas>
            </div>
        </div>
    </div>
</body>

</html>
